---
name: AqaraPost_[Node-RED]
version: 3.0
slug: nodered_aqara
description: NodeRed mod for AqaraPost-Homeassistant
url: https://github.com/sdavides/AqaraPOST-Homeassistant
ingress: true
ingress_port: 0
ingress_stream: true
panel_icon: mdi:sitemap
init: false
homeassistant: 2023.3.0
arch:
  - aarch64
  - amd64
ports:
  80/tcp: 
ports_description:
  80/tcp: Web interface Nginx external port
hassio_api: true
hassio_role: manager
homeassistant_api: true
host_network: true
auth_api: true
uart: true
map:
  - addon_config:rw
  - homeassistant_config:rw
  - media:rw
  - share:rw
  - ssl
backup_exclude:
  - "node_modules"
options:
  usernameAqara: example@gmail.com
  passwordAqara: []
  serverAqara: EU
  timezoneAqara: it-IT
  lumi1Aqara: lumi1.a1b2c3e4f5
  lumi1Aqara2: ""
  lumi1Aqara3: ""
  renew_flow: false
  theme: default
  http_node:
    username: ""
    password: ""
  http_static:
    username: ""
    password: ""
  ssl: false
  certfile: fullchain.pem
  keyfile: privkey.pem
#  system_packages: []
#  npm_packages: []
#  init_commands: []
schema:
  usernameAqara: str
  passwordAqara: password
  lumi1Aqara: str
  lumi1Aqara2: str
  lumi1Aqara3: str
  serverAqara: list(EU|CN|RU|KR|JP|AF|USA|OTHER|US|HMT|AU|ME)?
  timezoneAqara: list(it-IT|en-GB|en-US|fr-FR|de-DE|es-ES|pt-PT|sv-SE|nl-NL|pl-PL|da-DK|fi-FI|el-GR|cs-CZ|hu-HU|no-NO|sk-SK|es-MX|pt-BR|fr-CA|en-CA|es-US|es-CO|es-AR|es-CL|ja-JP|zh-CN|zh-TW|ko-KR|ar-SA|hi-IN|bn-IN|pa-IN|th-TH|vi-VN|he-IL|ar-EG|zu-ZA|af-ZA|sw-KE|so-SO|en-AU|en-NZ|mi-NZ|id-ID|ms-MY|ta-IN|te-IN|ur-PK|sr-RS|hr-HR|lt-LT|lv-LV)?
  renew_flow: bool?
  log_level: list(trace|debug|info|notice|warning|error|fatal)?
  credential_secret: password?
  theme: list(default|aurora|cobalt2|dark|dracula|espresso-libre|github-dark|github-dark-default|github-dark-dimmed|midnight-red|monoindustrial|monokai|monokai-dimmed|night-owl|noctis|noctis-azureus|noctis-bordo|noctis-minimus|noctis-obscuro|noctis-sereno|noctis-uva|noctis-viola|oceanic-next|oled|one-dark-pro|one-dark-pro-darker|railscasts-extended|selenized-dark|selenized-light|solarized-dark|solarized-light|tokyo-night|tokyo-night-light|tokyo-night-storm|totallyinformation|zenburn|zendesk-garden)?
  http_node:
    username: str
    password: password
  http_static:
    username: str
    password: password
  ssl: bool
  certfile: str
  keyfile: str
#  system_packages:
#    - str
#  npm_packages:
#    - str
#  init_commands:
#    - str

  leave_front_door_open: bool?
  safe_mode: bool?
  max_old_space_size: int?
